@media (max-width: 992px) {
    .footer{
        &__info {
            width: 360px;
            height: 200px;
            padding: 30px 24px 30px 24px;
         }
         &__addr {
            margin-bottom: 25px;
            font-size: 20px;
        }
        &__phone {
            margin-bottom: 25px;
            font-size: 18px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                height: 22px;
            }
        }
    }
}
@media (max-width: 575px) {
    .footer{
        &__info {
            width: 250px;
            height: 150px;
            padding: 25px 7px 10px 7px;
         }
         &__addr {
            margin-bottom: 15px;
            font-size: 15px;
        }
        &__phone {
            margin-bottom: 15px;
            font-size: 13px;
        }
        &__social-item {
            width: 25px;
            height: 25px;
            img {
                height: 17px;
            }
        }
    }
}