
@media (max-width: 992px) {
    .promo {
        padding-bottom: 50px;
        &__wrapper {
            align-items: center;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 30px;
            text-align: center;
        }
        &__subheader {
            display: none;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
        }
        &__icon {
            margin-top: 30px;
            img {
                margin-bottom: 5px;
            }
        }
    }
        
}